
  header{
      background-color: black;
    color:lightgray;
    padding:1.2em;
  }
 
  
 .heading {
    margin-top: 3%;
    /* text-align: center; */
  }
  /* Basic Style */
body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
    margin:0;
  }
  .container {
    display: block;
    width:50%;
    margin: 100px auto 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  /* input, button {
    outline: none;
  } */
  #button {
    background-color:#147ccc;
    border-radius: 5px;

    font-size: 15px;
    width: 60px;
 padding:0.8em;
 color:white;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
 
  /* Heading */
  h3,
  label[for='new-task'] {
    color: #333;
    font-weight: 500;
    font-size:1.8em;

    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    width:70%;
    margin-left:8%;
  }

  /* Task list */
  li {
    overflow: hidden;
    padding:0.5em;
    border:1px solid lightgray;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width:80%;
    padding: 0 0 0 11px;
  }

 
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  .delete{
      background-color:#147ccc;
    
      color:white;
      margin-top:0.2em;
      border:none;
  }